/* ----------------- fuentes -------------------- */
@font-face {
  font-family: 'Cocogoose1';
  src: url('../fonts/Cocogoose_Pro_Italic-trial.ttf');
}

@font-face {
  font-family: 'Cocogoose2';
  src: url('../fonts/Cocogoose_Pro_Light_Italic-trial.ttf');
}

@font-face {
  font-family: 'Cocogoose3';
  src: url('../fonts/Cocogoose_Pro_Light-trial.ttf');
}

@font-face {
  font-family: 'Cocogoose4';
  src: url('../fonts/Cocogoose_Pro_Semilight_Italic-trial.ttf');
}

@font-face {
  font-family: 'Cocogoose5';
  src: url('../fonts/Cocogoose_Pro_Semilight-trial.ttf');
}

@font-face {
  font-family: 'Cocogoose6';
  src: url('../fonts/Cocogoose_Pro_Thin_Italic-trial.ttf');
}

@font-face {
  font-family: 'Cocogoose7';
  src: url('../fonts/Cocogoose_Pro_Thin-trial.ttf');
}

@font-face {
  font-family: 'Cocogoose8';
  src: url('../fonts/Cocogoose_Pro_UltraLight_Italic-trial.ttf');
}

@font-face {
  font-family: 'Cocogoose9';
  src: url('../fonts/Cocogoose_Pro_Ultralight-trial.ttf');
}

@font-face {
  font-family: 'Cocogoose10';
  src: url('../fonts/Cocogoose_Pro-trial.ttf');
}

@font-face {
  font-family: 'Lato1';
  src: url('../fonts/Lato-Black.ttf');
}

@font-face {
  font-family: 'Lato2';
  src: url('../fonts/Lato-BlackItalic.ttf');
}

@font-face {
  font-family: 'Lato3';
  src: url('../fonts/Lato-Bold.ttf');
}

@font-face {
  font-family: 'Lato4';
  src: url('../fonts/Lato-BoldItalic.ttf');
}

@font-face {
  font-family: 'Lato5';
  src: url('../fonts/Lato-Italic.ttf');
}

@font-face {
  font-family: 'Lato6';
  src: url('../fonts/Lato-Light.ttf');
}

@font-face {
  font-family: 'Lato7';
  src: url('../fonts/Lato-LightItalic.ttf');
}

@font-face {
  font-family: 'Lato8';
  src: url('../fonts/Lato-Regular.ttf');
}

@font-face {
  font-family: 'Lato9';
  src: url('../fonts/Lato-Thin.ttf');
}

@font-face {
  font-family: 'Lato10';
  src: url('../fonts/Lato-ThinItalic.ttf');
}

/* ------------ general classes -------------- */
html,
body {
  height: 100%;
  overflow: auto;
  background-image: url('../Images/Background/mobile_background.png');
  background-size: 100%;
  background-repeat: no-repeat;
  padding: 0;
  margin: 0;
}

.line_separator {
  border-bottom-style: solid;
  border-width: 0.5vw;
  border-bottom-color: #ec5242;
  margin-left: 40.5vw;
  width: 10vw;
  height: 0.001vw;
}

.line_separator2 {
  border-bottom-style: solid;
  border-width: 0.5vw;
  border-bottom-color: #a5a5a5;
  margin-left: 5vw;
  width: 90vw;
  height: 0.001vw;
}

@keyframes blur_open {
  0% {
    -webkit-filter: blur(0);
  }

  100% {
    -webkit-filter: blur(1vw);
  }
}

@keyframes blur_close {
  0% {
    -webkit-filter: blur(1vw);
  }

  100% {
    -webkit-filter: blur(0);
  }
}

/* ------------ navigation bar -------------- */
.desktop_navbar {
  display: none;
}

.mobile_navbar {
  position: fixed;
  display: flex;
  background-color: rgb(255, 255, 255);
  width: 100vw;
  height: 18vw;
  top: 0.001vw;
  left: 0;
  z-index: 4;
}

.hamburger_btn {
  position: relative;
  margin-top: 5vw;
  margin-left: 7vw;
  width: 8vw;
  height: 8vw;
}

.menu_display {
  display: none;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #272a31a2;
  z-index: 4;
  animation-duration: 0.5s;
  overflow: hidden;
}

.close_menu_btn {
  width: 4vw;
  height: 4vw;
  margin-left: 85vw;
  margin-top: 5vw;
}

.md_links {
  list-style: none;
}

.md-link {
  font-family: "Cocogoose7", serif;
  font-size: 6vw;
  color: white;
  line-height: 14vw;
  text-decoration: none;
}

.md-link-asside {
  font-family: "Cocogoose7", serif;
  font-size: 6vw;
  color: white;
  line-height: 14vw;
  text-decoration: none;
}

@keyframes menu_display_anim {
  0% {
    width: 0.001vw;
    height: 0.001vh;
  }

  100% {
    width: 100vw;
    height: 100vh;
  }
}

@keyframes menu_close_anim {
  0% {
    width: 100vw;
    height: 100vh;
  }

  100% {
    width: 0.001vw;
    height: 0.001vh;
  }
}

/* ------------ section 1 -------------- */
.sec_1 {
  position: relative;
  margin-top: 19vw;
  width: 100vw;
  left: 0.001vw;
  top: 0;
}

.sec_1_greetings {
  font-family: "cocogoose3", serif;
  font-size: 4vw;
  width: 80vw;
  margin-bottom: 1vw;
  margin-right: 0.001vw;
  color: #ec5242;
  margin-left: 4vw;
}

.sec_1_title {
  font-family: "cocogoose10", serif;
  font-size: 7vw;
  width: 80vw;
  margin-top: 1vw;
  margin-bottom: 1vw;
  color: #ec5242;
  margin-left: 4vw;
}

.sec_1_title2 {
  font-family: "cocogoose1", serif;
  font-size: 7vw;
  margin-top: 1vw;
  margin-bottom: 1vw;
  color: #ec5242;
  margin-left: 4vw;
}

.sec_1_parraph {
  font-family: "Lato8", serif;
  font-size: 4vw;
  width: 90vw;
  margin-top: 3vw;
  margin-left: 3vw;
  color: #272a31;
}

.sec_1_date {
  font-family: "Lato1", serif;
  font-size: 6vw;
  width: 85vw;
  margin-top: 3vw;
  margin-left: 3vw;
  margin-bottom: 1vw;
  color: #272a31;
  margin-right: 0;
}

.sec_1_location {
  font-family: "Lato8", serif;
  font-size: 4vw;
  width: 88vw;
  margin-top: 1vw;
  margin-left: 3vw;
  color: #272a31;
  margin-right: 0;
}

/* ------------ section 2 -------------- */
.sec_2 {
  position: relative;
  margin-top: 10vw;
  width: 100vw;
  left: 0;
  top: 0;
  margin-left: -2vw;
  background-color: #272a31;
  padding-top: 3vw;
  height: fit-content;
}

.sec_2_title {
  font-family: "Lato6", serif;
  font-size: 4vw;
  margin-top: 8vw;
  margin-left: 33.5vw;
  color: white;
}

.program_boxes {
  display: flex;
  flex-direction: column;
  padding-left: 0.001vw;
  margin-left: 1vw;
}

.pr_box {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  background-color: rgba(255, 255, 255, 0.2);
  width: 92vw;
  height: 20vw;
  margin-left: 4vw;
  margin-top: 2vw;
}

.pr_box_icon {
  width: 9vw;
  height: 9vw;
  padding-left: 5vw;
  padding-top: 5vw;
  padding-bottom: 1vw;
  padding-right: 5vw;
}

.pr_box_title {
  font-family: "Lato1", serif;
  font-size: 3.5vw;
  color: #ec5242;
  width: 20vw;
  height: 20vw;
  margin: 0.001vw;
  padding-top: 7.5vw;
}

.pr_box_parraph {
  margin: 0;
  color: white;
  font-family: "Lato3", serif;
  font-size: 3vw;
  width: 56vw;
  height: 16vw;
  padding: 2vw;
  line-height: 5vw;
}

.dt_sec_2_footer {
  display: none;
}

.mb_sec_2_footer {
  border-style: none;
  background-color: #ec5242;
  color: white;
  font-family: "Lato8", serif;
  font-size: 4vw;
  margin-left: 12vw;
  width: 76vw;
  height: 17vw;
  margin-bottom: 10vw;
  margin-top: 5vw;
}

/* ------------ section 3 -------------- */
.sec_3 {
  position: relative;
  margin-top: 10vw;
  width: 100vw;
  left: 0;
  top: 0;
  margin-left: 0;
  background-color: white;
  padding-top: 3vw;
  height: fit-content;
}

.sec_3_title {
  font-family: "Lato6", serif;
  font-size: 4vw;
  margin-top: 8vw;
  margin-left: 31.5vw;
  color: #272a31;
}

.speakers_box {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.2);
  width: 92vw;
  height: 45vw;
  margin-left: 4vw;
  margin-top: 2vw;
  overflow-y: hidden;
  animation-duration: 1s;
}

@keyframes open_speakers {
  0% {
    height: 45vw;
  }

  100% {
    height: 138vw;
  }
}

@keyframes close_speakers {
  0% {
    height: 138vw;
  }

  100% {
    height: 45vw;
  }
}

.speaker_box {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  margin-top: 2vw;
}

.speaker_photo {
  width: 20vw;
  height: 20vw;
}

.speaker_content {
  display: flex;
  flex-direction: column;
  padding-left: 3vw;
}

.speaker_name {
  margin-top: 0.001vw;
  margin-bottom: 1vw;
  font-family: "Lato1", serif;
  color: #272a31;
  font-size: 3vw;
}

.speaker_activity {
  margin-top: 0.001vw;
  margin-bottom: 0.001vw;
  font-family: "Lato4", serif;
  color: #ec5242;
  font-size: 2vw;
}

.speaker_description {
  font-family: "Lato1", serif;
  color: #272a31;
  font-size: 2vw;
  line-height: 3.5vw;
}

.more-btn {
  display: flex;
  flex-direction: row;
  margin-top: 2vw;
  margin-left: 45vw;
  height: 4vw;
  margin-bottom: 10vw;
}

.more_btn_text {
  margin-top: 0.001vw;
  font-family: "Lato1", serif;
}

.more_icon {
  margin-top: 1vw;
  margin-left: 1.5vw;
  width: 3vw;
  height: 2vw;
  animation-duration: 1s;
}

@keyframes rotate_icon_open {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(540deg);
  }
}

@keyframes rotate_icon_close {
  0% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(720deg);
  }
}

/* ------------ section 4 -------------- */

.sec_4 {
  display: none;
}

/* ------------ section 5 -------------- */

.sec_5 {
  display: none;
}

/* ------------------------------------- DESKTOP ------------------------------- */

/* ------------------------------------- VERSION ------------------------------- */

@media (min-width: 768px) {
  /* ------------ general classes -------------- */
  html,
  body {
    margin: 0.001px;
    height: 100%;
    overflow: auto;
    user-select: none;
    background-image: url('../Images/Background/desktop_background.png');
    background-size: 100%;
    background-repeat: no-repeat;
    padding-right: 0;
  }

  .line_separator {
    border-bottom-style: solid;
    border-width: 2px;
    border-bottom-color: #ec5242;
    margin-left: 48vw;
    width: 4vw;
    height: 0.001px;
  }

  .line_separator2 {
    display: none;
  }

  /* ------------ navigation bar -------------- */
  .desktop_navbar {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 75px;
    top: 0.001vw;
    left: 0.001vw;
    z-index: 4;
  }

  .mobile_navbar {
    display: none;
  }

  /* ----- top ----- */
  .dt_navbartop {
    padding-left: 0.001vw;
    margin: 0.001px;
    background-color: #272a31;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    width: 100vw;
    height: 25px;
  }

  .dt_nav_bar_item {
    font-family: "Lato3", serif;
    font-size: 12px;
    margin-right: 1vw;
    margin-top: 5px;
    list-style: none;
    color: white;
    user-select: none;
    transition: ease-in-out 0.3s;
  }

  .dt_nav_bar_item:hover {
    color: #ec5242;
  }

  .dt_nav_bar_item_last {
    font-family: "Lato3", serif;
    font-size: 12px;
    margin-right: 10vw;
    margin-top: 5px;
    list-style: none;
    color: white;
    user-select: none;
    transition: ease-in-out 0.3s;
  }

  .dt_nav_bar_item_last:hover {
    color: #ec5242;
  }

  /* ----- bottom ----- */

  .dt_navbarbottom {
    margin: 0.001px;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.1);
    background-color: white;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    width: 100vw;
    height: 50px;
    padding: 0.001vw;
  }

  .dt_facebook-link {
    width: 12px;
    height: 15px;
  }

  .dt_twitter-link {
    width: 16px;
    height: 15px;
  }

  .dt_bottom_bar_item_first {
    font-family: "Lato3", serif;
    font-size: 12px;
    margin-right: 20vw;
    margin-top: 7px;
    list-style: none;
    color: #272a31;
    user-select: none;
  }

  .top_link {
    text-decoration: none;
    color: #272a31;
    transition: ease-in-out 0.3s;
  }

  .top_link:hover {
    color: #ec5242;
  }

  .item_first_img {
    width: 65px;
  }

  .dt_bottom_bar_item {
    font-family: "Lato3", serif;
    font-size: 13px;
    margin-right: 6vw;
    margin-top: 17px;
    list-style: none;
    color: #272a31;
    user-select: none;
  }

  .dt_bottom_bar_item_last {
    border-style: solid;
    width: 75px;
    height: 13px;
    font-family: "Lato3", serif;
    font-size: 10px;
    margin-right: 5vw;
    margin-top: 7px;
    list-style: none;
    color: #272a31;
    padding: 8px;
    user-select: none;
    transition: ease-in-out 0.3s;
  }

  .dt_bottom_bar_item_last:hover {
    border-color: #ec5242;
    color: #ec5242;
  }

  .dt_cc-campaign-link {
    margin: 0.001px;
    margin-left: 10px;
    width: 75px;
  }

  /* ------------ section 1 -------------- */
  .sec_1 {
    position: relative;
    margin-top: 40px;
    width: 70vw;
    left: 0.001vw;
    top: 0;
    padding-left: 20vw;
  }

  .sec_1_greetings {
    font-family: "cocogoose3", serif;
    font-size: 30px;
    width: 60vw;
    margin-top: 10vw;
    margin-bottom: 5px;
    margin-right: 0.001px;
    color: #ec5242;
  }

  .sec_1_title {
    font-family: "cocogoose10", serif;
    font-size: 50px;
    width: 650px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 0.01vw;
    color: #ec5242;
  }

  .sec_1_title2 {
    font-family: "cocogoose1", serif;
    font-size: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #ec5242;
  }

  .sec_1_parraph {
    font-family: "Lato8", serif;
    font-size: 15px;
    width: 500px;
    margin-top: 3vw;
    margin-left: 3vw;
    color: #272a31;
    line-height: 25px;
  }

  .sec_1_date {
    font-family: "Lato1", serif;
    font-size: 40px;
    width: 70vw;
    margin-top: 3vw;
    margin-left: 3vw;
    margin-bottom: 1vw;
    color: #272a31;
  }

  .sec_1_location {
    font-family: "Lato8", serif;
    font-size: 25px;
    width: 70vw;
    margin-top: 10px;
    margin-left: 30px;
    color: #272a31;
  }

  /* ------------ section 2 -------------- */
  .sec_2 {
    position: relative;
    margin-top: 100px;
    width: 98.5vw;
    left: 0.01px;
    top: 0.01px;
    margin-left: 0;
    background-color: #272a31;
    padding-top: 3vw;
    height: 37vw;
  }

  .sec_2_title {
    font-family: "Lato6", serif;
    font-size: 2vw;
    margin-top: 15px;
    margin-left: 44vw;
    color: white;
    width: 20vw;
  }

  .program_boxes {
    display: flex;
    flex-direction: row;
    padding-left: 0.001px;
    margin-left: 10.6vw;
  }

  .pr_box {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.2);
    width: 15vw;
    height: 17vw;
    margin-left: 2px;
    margin-top: 2vw;
    text-align: center;
    border-style: solid;
    border-width: 0.1vw;
    border-color: transparent;
    transition: ease-in-out 0.3s;
  }

  .pr_box:hover {
    border-color: white;
  }

  .pr_box_icon {
    width: 5vw;
    height: 5vw;
    padding-left: 5vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
  }

  .pr_box_title {
    font-family: "Lato1", serif;
    font-size: 1.8vw;
    color: #ec5242;
    width: 15vw;
    height: 3vw;
    margin-top: 0.1vw;
    text-align: center;
    padding: 0.001vw;
  }

  .pr_box_parraph {
    margin: 0;
    color: white;
    font-family: "Lato3", serif;
    font-size: 0.83vw;
    width: 13vw;
    height: 16vw;
    padding: 0.01vw;
    padding-left: 1vw;
    padding-right: 1vw;
    line-height: 1.5vw;
  }

  .dt_sec_2_footer {
    display: flex;
    color: white;
    font-family: "Lato9", serif;
    font-size: 1vw;
    margin-left: 42.5vw;
    width: 12.8vw;
    height: 1.2vw;
    margin-bottom: 10vw;
    margin-top: 5vw;
    border-width: 0.1vw;
    border-bottom-style: solid;
    border-bottom-color: white;
    transition: ease-in-out 0.3s;
  }

  .dt_sec_2_footer:hover {
    color: #ec5242;
    border-bottom-color: #ec5242;
  }

  .mb_sec_2_footer {
    display: none;
  }

  /* ------------ section 3 -------------- */
  .sec_3 {
    position: relative;
    margin-top: 0.001vw;
    width: 98.5vw;
    left: 0;
    top: 0;
    margin-left: 0;
    background-color: white;
    height: fit-content;
  }

  .sec_3_title {
    font-family: "Lato8", serif;
    font-size: 2vw;
    width: 30vw;
    margin-top: 1vw;
    margin-left: 42.5vw;
    color: #272a31;
  }

  .speakers_box {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: rgb(235, 235, 235);
    width: 72vw;
    height: 40vw;
    margin-left: 0.001vw;
    margin-top: 0.001vw;
    animation-duration: 1s;
    overflow-x: initial;
    padding-left: 15vw;
    padding-top: 4vw;
    margin-right: 0;
  }

  .speaker_box {
    display: flex;
    flex-direction: row;
    width: 34.9vw;
    height: 10vw;
    margin: 0.01vw;
    padding: 0.01vw;
    background-color: rgb(235, 235, 235);
    transition: ease-in-out 0.3s;
  }

  .speaker_box:hover {
    transform: scale(1.5);
    z-index: 3;
    background-color: rgb(255, 255, 255);
  }

  .speaker_photo {
    width: 10vw;
    height: 10vw;
  }

  .speaker_content {
    display: flex;
    flex-direction: column;
    padding-left: 2vw;
  }

  .speaker_name {
    margin-top: 0.001vw;
    margin-bottom: 1vw;
    font-family: "Lato1", serif;
    color: #272a31;
    font-size: 1.2vw;
  }

  .speaker_activity {
    margin-top: 0.001vw;
    margin-bottom: 0.001vw;
    font-family: "Lato4", serif;
    color: #ec5242;
    font-size: 1vw;
  }

  .speaker_description {
    font-family: "Lato1", serif;
    color: #272a31;
    font-size: 1vw;
    line-height: 1vw;
  }

  .more-btn {
    display: none;
  }

  /* ------------ section 4 -------------- */

  .sec_4 {
    display: flex;
    flex-direction: column;
    margin-top: 1vw;
    width: 98.5vw;
    left: 0;
    top: 0;
    margin-left: 0;
    background-color: #272a31;
    height: 18vw;
  }

  .sec_4_title {
    font-family: "Lato9", serif;
    margin-left: 46vw;
    position: relative;
    font-size: 2vw;
    height: 2vw;
    color: #a5a5a5;
  }

  .sponsor_ul {
    display: flex;
    justify-content: center;
    flex-direction: row;
    list-style: none;
    width: 50vw;
    margin-left: 24.5vw;
    margin-top: 3vw;
  }

  .sponsor {
    width: 20vw;
    height: 20vw;
    margin-right: 5vw;
  }

  .sponsor_img {
    height: 4vw;
    margin-bottom: 0.001vw;
  }

  /* ------------ section 5 -------------- */

  .sec_5 {
    display: flex;
    flex-direction: row;
    margin-top: 1vw;
    width: 90vw;
    left: 0;
    top: 0;
    margin-left: 0;
    background-color: #fff;
    height: 14vw;
    padding-top: 6vw;
  }

  .footer_logo {
    height: 6vw;
    margin-right: 3vw;
    padding-left: 24vw;
  }

  .credits_flex {
    display: flex;
    flex-direction: column;
  }

  .footer_first_text {
    font-family: "Lato1", serif;
    color: #2d3038;
    font-size: 0.8vw;
    width: 40vw;
  }

  .footer_second_text {
    font-family: "Lato3", serif;
    color: #2d3038;
    font-size: 0.8vw;
    width: 40vw;
  }
}
